body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  padding: 30px;
}

#date-container {
  float: left;
}

#clock {
  padding: 5px;
  line-height: 280px;
}

.hour {
  font-size: 280px;
  margin-right: 15px;
}

.minute {
  font-size: 190px;
  vertical-align: text-bottom;
}

#date {
 margin-top: -70px;
 font-size: 30px;
 font-weight: 300;
}

#date .day {
  margin-left: 350px;
}

#date .month {
  margin-left: 350px;
}

#date .datesuffix {
   vertical-align: super;
   font-size: 0.5em;
}

#date .calendar {
   display: inline-block;
   margin-left: 30px;
}

#date .calendar .cal {
   display: inline-block;
   margin-top: 20px;
   height: 60px;
   width: 60px;
   margin-left: 5px;
   margin-right: 5px;
   border: 2px solid #fff;
   text-align: center;
   line-height: 56px;
}

#date .calendar .cal-day {
   display: inline-block;
   margin-top: 10px;
   height: 60px;
   width: 60px;
   margin-left: 5px;
   margin-right: 5px;
   text-align: center;
}

#date .calendar .cal.today {
   background-color: #fff;
   color: #000;
}

#weather {
  float: right;
  color: #000;
  background-color: #000;
  z-index: 0;
  margin-top: 50px;
  margin-right: 30px;
}

#weather .weather-container {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  width: 100%;
}

#weather .weather-container .text {
  display: inline-block;
  width: 50%;
}

#weather .weather-container .temp {
  display: inline-block;
  width: 50%;
  text-align: right;
}

#weather .weather-container .temp:after {
  content : " \B0 C";
}

#rss:before {
  position: relative;
  float: left;
  content: "";
  height: 50px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
  margin-bottom: -50px;
  z-index: 1;
}

#rss {
  float: left;
  margin-top: 70%;
  width: 100%;
  height: 200px;
}

#rss-after {
  position: relative;
  z-index: 1;
  float: left;
  height: 50px;
  margin-top: -50px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
}

#rss {
  overflow: hidden;
  height: 100px;
}

#rss ul {
  padding-top: 100px;
  padding-bottom: 100px;
  list-style-type: none;
  animation: scroll-rss 30s linear infinite;
}

#rss p {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

@keyframes scroll-rss {
  100% { transform: translate(0px, -100%);}
}


#footer {
  position: absolute;
  bottom: 30px;
  width: 95%;
}
.left {
  left: 0px;
  text-align: left;
}
.right {
  right: 0px;
  text-align: right;
}